*{
    margin: 0;
    padding: 0;
}

.Application{
   position: relative;
   display: flex;
   flex-direction: column;
}

.second-header{
    height: 100rem;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.background-all{
   background-image: url(./assets/chicago-cinema.jpg);

}