.categories-div{
    border: 1px solid black;
    height: 100%;
    background-color: rgb(115, 115, 115);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-right: none;
}